# build output
dist/
.output/
.json/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# local source photos
mes_photos/

# ignore .astro directory
.astro
